<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940837843261-4ucq7krfb37pei8pp6i38l0mo9qp8d68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940837843261-4ucq7krfb37pei8pp6i38l0mo9qp8d68</string>
	<key>API_KEY</key>
	<string>AIzaSyCleAJgnzdSXeQJt22SMBEF5_4auVcQRpM</string>
	<key>GCM_SENDER_ID</key>
	<string>940837843261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developer.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-mt</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-mt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940837843261:ios:4a5273bb1fdb1989ed5554</string>
</dict>
</plist>